.article-metadata{
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cbd5db;
}
.article-title{
    color: black;
}

.article-content{
    white-space: pre-line;
}
.content-section{
    background-color: aliceblue;
    padding: 15px 25px;
    border: 1px solid #cbd5db;
    border-radius: 5px;
    margin-bottom: 30px;
}